.menu {
  position: fixed;
  bottom: 5px;
  left: 50%; /* center horizontally */
  transform: translateX(-50%); /* move it back by half its width */
  max-width: 80%; /* make it full-width, but responsive */
  width: calc(100% - 20px); /* subtract padding from width */
  border-radius: 50px;
  -webkit-backdrop-filter: blur(10px); /* add vendor prefix for compatibility */
  backdrop-filter: blur(10px);
  background-color: red;
  height: 50px; /* set a fixed height for the menu, consider making it relative */
  display: flex; /* make it a flex container */
  justify-content: space-between; /* align items horizontally */
  padding: 10px; /* add some padding */
  z-index: 1; /* ensure it's on top of other elements */
  box-sizing: border-box; /* include padding and border in width calculation */
}

/* Add media queries for responsiveness */
.menu {
  @media only screen and (max-width: 768px) {
    width: calc(100% - 20px); /* adjust width for smaller screens */
    height: 40px; /* adjust height for smaller screens */
  }

  @media only screen and (max-width: 480px) {
    width: calc(100% - 20px); /* adjust width for even smaller screens */
    height: 30px; /* adjust height for even smaller screens */
  }
}
